version: '3.8'

services:
  mongoku:
    image: huggingface/mongoku
    container_name: mongoku
    hostname: mongoku
#    restart: always
    ports:
      - 3100:3100
    environment:
      MONGOKU_DEFAULT_HOST: mongodb://192.168.88.18:27017
    networks:
      - mongoku

networks:
  mongoku:
